* {
    margin: 0px;
    padding: 0px;
    font-family: 'Archivo Black', sans-serif;
    
}
html, body {
    height: 100%;
    width: auto;
}

/*header*/
header {
    height: 10%;
    
    background-color: #e31b23;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 1%;
}



/*body*/
.container {
    width:60%;
    margin: 0 auto;
}

#ph {
    height: auto;
    width: 100%;
    margin: 2% auto;
    border: 0.5px solid grey;
}



/*artist div*/
.artist {
    margin: 2%;
    padding: 2%;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

img {
    display: inline-block;
    float: left;
}


.info {
    display: inline-block;
    float: left;
    width: 60%;
    padding-left: 2%;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 10%;
}

p {
    margin-bottom: 5%;
}




a {
    padding: 2%;
    text-decoration: none;
    background-color: black;
    color: white;
}

